html {
    font-family: 'roboto slab', 'quicksand', 'work sans';
}

h1 {
    font-family: 'roboto slab';
}

h2 {
    font-family: 'quicksand';
    font-weight: 500;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

p {
    font-family: 'quicksand', 'verdana';
}

/*Header styling*/
a {
    text-decoration: none;
}

.black {
    color: black;
}

header {
    background-color: rgb(119, 176, 170);
    font-family: 'quicksand';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

header i {
    color: white;
    cursor: pointer;
}

header img {
    max-width: 2em;
    max-height: 2em;
}

header h1 {
    font-weight: 800;
    font-size: 1.5em;
}

.blue {
    color: rgb(0, 60, 67);
}

header .hamb-menu-logged-in,
header .hamb-menu-logged-out {
    display: none;
    background-color: rgb(119, 176, 170);
    padding: 1em;
    top: 1em;
    left: 4em;
    position: absolute;
    z-index: 1000;
}

.hamb-menu-logged-in ul,
.hamb-menu-logged-out ul {
    list-style: none;
    padding: 1em;
}

.hamb-menu-logged-in a,
.hamb-menu-logged-out a {
    text-decoration: none;
    color: white;
}

/*Buttons styling*/
button {
    background-color: rgb(2, 59, 44);
    color: white;
    font-family: 'quicksand';
    padding: 0.25em 2em;
    border: none;
    border-radius: 25px;
}

button:hover {
    background-color: rgb(0, 103, 75);
    cursor: pointer;
}

/*Footer styling*/
footer {
    background-color: rgb(119, 176, 170);
}

footer img {
    max-width: 2em;
    max-height: 2em;
}

.footer-bar {
    background-color: rgb(2, 59, 44);
    height: 2px;
    margin: 2em 0;
}

footer p {
    color: white;
    font-family: 'work sans';
}

footer i {
    color: rgb(2, 59, 44);
}

.footer-top,
.footer-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/*Loading spinner styling */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgb(2, 59, 44);
    border-top: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}