h1 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.edit-form input, 
textarea {
    border-color: rgb(2, 59, 44);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}

label {
    font-family: 'quicksand', 'work sans', 'roboto slab';
    font-size: 1.5em;
}

#createPostForm {
    margin: 0 2em;
}

#confirmBtn {
    display: flex;
    margin: 2em auto
}

img {
    justify-content: center;
    text-align: center;
    align-self: center;
}

/*Desktop styling*/
@media (min-width: 768px) {
    #createPostForm {
        margin: 0;
    }

    input,
    textarea {
        min-height: 2em;
        resize: none;
        font-size: 2em;
        font-family: 'quicksand', 'work sans', 'roboto slab';
    }

    input {
        max-width: 50%
    }
}