h1 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1em;
    font-weight: 400;
}

.hidden {
    display: none;
}

.edit-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.edit-form input,
.edit-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    background-color: white;
}

.post {
    flex: 1 1 calc(30% - 1em);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(227, 254, 247);
    border-color: rgb(2, 59, 44);
    border-style: solid;
    border-width: 1px;
    margin: 1em;
}

.post img {
    max-width: 8em;
    border-color: rgb(2, 59, 44);
    border-style: solid;
    border-width: 1px;
}

/*Buttons*/
.edit-form button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-form .save-btn {
    background-color: #4CAF50;
    color: white;
}

.edit-form .cancel-btn {
    background-color: #f44336;
    color: white;
}

#createPostBtn {
    margin: auto;
    display: flex;
    margin-bottom: 1em;
}

#deleteBtn {
    background-color: rgb(152, 0, 0);
    margin-bottom: 1em;
}

#deleteBtn:hover {
    background-color: rgb(80, 0, 0);
}