/*Buttons styling*/
.newest-btn {
    background-color: white;
    color: black;
    max-width: 6em;
    padding: 0.25em 0.25em;
    border-radius: 5px;
}

.newest-btn i {
    color: rgb(2, 59, 44);
}

/*Blog row styling*/
.sort-bar {
    background-color: rgb(119, 176, 170);
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    border-radius: 5px;
    border-style: none;
    max-width: 6em;
    color: rgb(0, 0, 0, 75%);
}

/*Carousel styling*/
.carousel-container {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 1%;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    background-attachment: white;
    border: solid rgb(2, 59, 44);
    border-width: 2px;
    margin-right: 10px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    padding: 4em 2em;
    font-family: 'quicksand', 'verdana';
    font-weight: 500;
    margin: 2em 0;
}