/*Buttons styling*/
.newest-btn {
    background-color: white;
    color: black;
    max-width: 6em;
    padding: 0.25em 0.25em;
    border-radius: 5px;
}

.newest-btn i {
    color: rgb(2, 59, 44);
}

/*Blog row styling*/
.sort-bar {
    background-color: rgb(119, 176, 170);
    padding: 1em 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
}

#search {
    border-radius: 5px;
    border-style: none;
    width: 6em;
    color: rgb(0, 0, 0, 75%);
}

/*Carousel styling*/
.carousel-container {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 1%;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    background-attachment: white;
    border: solid rgb(2, 59, 44);
    border-width: 2px;
    box-sizing: border-box;
    padding: 4em 2em;
    font-family: 'quicksand', 'verdana';
    font-weight: 500;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
    flex-direction: column;
}

.sortingBtn.flipped i {
    transform: rotate(180deg);
}

.carousel-dots li {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: grey;
    margin: 1em;
}

#carouselDots {
    margin: 0;
    padding: 0;
}

.carousel-dots .active-dot {
    background-color: black;
}

.slide img {
    max-width: 8em;
    display: block;
}

.slide button {
    display: block;
}

.slide-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Blog grid styling*/
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    background-color: white;
    padding: 2em 0;
    width: 80%;
}

.post img {
    max-width: 8em;
}

#blogGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}